*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root{
  width: 100%;


  font-size: 60%;
  margin: 0;


  --light-black: #262626;
  --black: #1A1A1A;
  --dark-black: #0D0D0D;

  --light-gray: #4D4D4D;
  --gray: #343332;
  --dark-gray: #252424;

  --light-white: #FFFFFF;
  --white: #EDEBEB;
  --dark-white: #DAD8D8;
}

body{
  background-color: var(--black);

  font-family: "Roboto";
  color: var(--white);

  width: auto;
  height: auto;

  overflow-y: scroll;
}

.home{
  display: flex;
}

.barra-lateral{
  background-color: var(--dark-gray);
  width: 7vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  animation: show-side-bar 1s ease-in;

}

.barra-lateral p{
  width: max-content;

  font-size: 1.5rem;
  letter-spacing: 0.4em;

  transform: rotate(-90deg);

  margin-top: 21rem;
  text-align: center;

  opacity: 0;

  animation: show-components 2s .5s ease-in both;
}

.barra-lateral hr{
  border: none;
  background-color: var(--light-gray);
  width: 2px;
  height: 12rem;
  margin-top: 12rem;
  margin-bottom: 1rem;

  opacity: 0;

  animation: show-components 2s .5s ease-in both;
}

.barra-lateral .social-media{
  display: flex;
  flex-direction: column;

  margin-bottom: 2rem;

  opacity: 0;
  
  animation: show-components 2s .5s ease-in both ;
}

.barra-lateral .social-media svg{
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.barra-lateral .social-media svg > path{
  transition: .7s ease;
}

.barra-lateral .social-media svg:hover{
  cursor: pointer;

}

.barra-lateral .social-media svg:hover > path{
  fill: var(--dark-white);
}

.container {
  width: 100%;
  height: 100vh;
}
.container .nav-bar{
  display: flex;
  height: max-content;

  margin-top: 2.5rem;
  margin-right: 3rem;

  justify-content: flex-end;
}

.container .nav-bar a{
  text-decoration: none;
  font-family: "Roboto";
  font-size: 1.5rem;
  letter-spacing: 0.4em;

  margin-left: 1rem;
  margin-right: 1rem;

  color: var(--dark-white);

  transition: .7s ease;

  animation: tracking-in-contract 2s .75s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.container .nav-bar a:hover{
  cursor: pointer;

  color: var(--light-white);
}

.container .main-content{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
}

.container .main-content .main-name{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: calc(100% - 6.5%);

  padding-left: 10rem;

  
}

.container .main-content .main-name p{
  font-size: 6.5rem;
  font-weight: 600;
  letter-spacing: 0.3em;
  
  position: relative;

  opacity: 0;
  animation: focus-in-expand-fwd 1.75s 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.container .main-content .main-name p:first-child::before{
  content: '';
  position: absolute;
  top: 2.2rem;
  left: -2rem;
  
  height: 12rem;
  width: 1px;
  
  background-color: var(--light-gray);
  
  opacity: 0;
  animation: show-components 2s 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.container .main-content .photo{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  overflow-x: hidden;
  
  opacity: 0;
  animation: show-components 3s 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.container .photo img{
  height: 90%;
  transform: translateX(20%);
}

.informacoes-pessoais{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  background: linear-gradient(180deg, var(--black) 0%, var(--light-black) 100%);
}

.informacoes-pessoais .about-me {
  width: 50%;
  height: 100%;

  margin-left: 4rem;
  margin-top: 4rem;

}

.informacoes-pessoais .about-me h1{
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: 0.3em;

  color: var(--light-gray);
  opacity: 0.2;

  opacity: 0;
}

.informacoes-pessoais .about-me p{
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.4em;
  line-height: 3rem;

  max-width: 100%;
  height: 26rem;

  margin-left: 15rem;
  margin-right: 3rem;

  opacity: 0;
}

.informacoes-pessoais hr{
  border: none;
  background-color: var(--light-gray);
  width: 2px;
  height: 12rem;

  margin-top: 20rem;
}

.informacoes-pessoais .formacao-academica{
  width: 50%;
  height: 100%;

  text-align: right;

  margin-right: 4rem;
  margin-top: 15rem;
}

.informacoes-pessoais .formacao-academica h1{
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.3em;

  color: var(--light-gray);
  opacity: 0.2;

  opacity: 0;
}

.informacoes-pessoais .formacao-academica p{
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.4em;
  line-height: 3rem;

  text-align: start;

  max-width: 100%;

  margin-right: 15rem;
  margin-left: 4rem;

  opacity: 0;
}

.habilities {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  background: var(--dark-gray) 
}

.habilities h1{
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: 0.3em;

  margin-left: 5rem;
  margin-top: 5rem;

  color: var(--light-gray);
  opacity: 0;
}

.habilities .all-habilities{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 7rem;
  margin-right: 7rem;
}

.habilities .all-habilities .habilidades-tecnicas,
.habilities .all-habilities .habilidades-pessoais{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: max-content;

  opacity: 0;
}

.habilities .all-habilities .habilidades-tecnicas h1,
.habilities .all-habilities .habilidades-pessoais h1{
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.3em;

  text-align: left;

  margin-left: 0;

  color: var(--light-gray);
  opacity: 0.2;
}

.habilities .all-habilities .habilidade{
  margin: 3rem;
  margin-bottom: 2rem;
}

.habilities .all-habilities .habilidade p{
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.4em;

  text-align: left;

  margin-left: 0;
  margin-bottom: 1.5rem;

  color: var(--white);
}

.habilities .all-habilities .progress{
  width: 45rem;
  height: 7px;
  left: 143px;
  top: 852px;

  /* Light-gray */

  background: #4D4D4D;
  border-radius: 50px;
}

.habilities .all-habilities .progress .progress-bar{
  width: 100%;
  height: 7px;
  left: 143px;
  top: 852px;

  /* White */

  background: #EDEBEB;
  border-radius: 50px;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  background: var(--light-black) 
}

.projects h1{
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: 0.3em;

  margin-left: 5rem;
  margin-top: 5rem;

  color: var(--light-gray);
  opacity: 0;
}

.projects .carousel{
  width: 100%;
  height: 30rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.projects .carousel .p-carousel{
  width: 80%;
}

.projects .carousel .p-carousel-items-content{
  border-radius: 25px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.projects .item-carousel{
  display: flex;
  justify-content: center;

  height: 25rem;

}

.projects .item-carousel img{
  max-height: 100%;
}

footer{
  width: 100%;
  height: 50vh;
}

footer h1{
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: 0.3em;

  margin-left: 5rem;
  margin-top: 5rem;

  color: var(--light-gray);
  opacity: 0.2; 
}

footer .contatos{
  width: 100%;

  display: flex;
  justify-content: space-around;
  
  margin-top: 5rem;
  
}

footer .contatos > div > div,
footer .contatos > div > a > div{
  display: flex;

}

footer .contatos .contact-social-media > a{
  text-decoration: none;
}

footer .contatos .contact-social-media > a > div,
footer .contatos .other-contacts > div{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

footer .contatos .contact-social-media > a > div p,
footer .contatos .other-contacts > div p{
  color: var(--light-gray);
  
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.4em;
  
  
  margin-left: 1rem;
  transition: .7s ease;
}

footer .contatos .other-contacts > div svg{
  width: 4rem;
}

footer .contatos .contact-social-media > a:hover > div p,
footer .contatos .other-contacts > div:hover p{
  color: var(--white);
}

footer .contatos .contact-social-media > a:hover > div svg path,
footer .contatos .other-contacts > div:hover svg path{
  fill: var(--white)
}

footer .contatos .contact-social-media > a > div svg path,
footer .contatos .other-contacts > div svg path{
  transition: .7s ease;
}